.DS_Store
public/
staging/
static/css/
static/img/
static/rev-manifest.json
node_modules/
*.log
*.swp
.escape/
deps/
escape_state.json
deployment.yml
content/docs/reference/
content/docs/escape_installation.md
content/docs/inventory_installation.md
