div.downloads {
    display: flex;
    flex-flow: column wrap;
    div {
        width: 100%;
    }
}

.download {
    line-height: 3.0em;
    font-size: 1.3em;
    a {
        padding-bottom: 5px;
        border-bottom: 1px dashed rgba(192, 192, 192, 0);
        transition: border 0.5s ease;
      }
    a:hover {
        border-bottom: 1px dashed;
    }
}

