@import "_variables.less";
@import "downloads.less";
@import "docling.less";

.navbar-docs {
    background: @docs-navbar-background;
    color: @docs-navbar-color;
}


body {
    height: 100%;
    background-color: #000;
}

a {
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

.btn {
    padding: 10px;
}

#icon-nav {
    height: 18px;
}

.navbar-inverse .navbar-nav>li>a {
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
    padding: 0;
    margin: 12px;
    color: @docs-navbar-color;
    &:hover {
    border-bottom: 1px solid @docs-navbar-color;
    @media only screen and (max-width : 768px) {
        border-bottom: 0;
        padding-left: 5px;
    }
   }
}   

.fa {
    margin-right: 5px;
}


#hero {
    background-color: #000;
    height: 100%;
}

#hero-banner {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    max-height: 900px;
   @media only screen and (max-width : 992px) {
        height: 650px;
    }
    padding-top: 100px;
    h1 {
        font-size: 28px;
        margin-bottom: 40px;
        text-shadow: 2px 1px #000;
        color: #fff;
        @media only screen and (max-width : 992px) {
        font-size: 24px;
    } 
        @media only screen and (max-width : 620px) {
            font-size: 24px;
        } 
    }
    .btn {
        background-color: transparent;
        color: #fff;
        &:hover {
            background-color: @brand-primary;
        }  
    }
    img {
        width: 300px;
        margin-bottom: 30px;
        @media only screen and (max-width : 992px) {
        width: 270px;
        }
    }
    p {
        color: #fff;
    }
}


#main-content {
    h1 {
        color: #000;
        text-shadow: #000 0px 0px 0px;
    }
    background: #fff;
    color: #000;
    opacity: 0.9;
    padding: 50px;
    margin-top: -50px;
    border-radius: 10px;
}

ul.main-menu {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        display: block;
        height: 40px;
    }
}


.feature-box {
    margin-bottom: 25px;
    @media only screen and (max-width : 992px) {
        margin-bottom: 70px;
    } 
}

.feature-text {
    min-height: 180px;
    @media only screen and (max-width : 1200px) {
        height: 210px;
     }
    @media only screen and (max-width : 992px) {
        height: 100px;
     }
    margin-bottom: 5px;
}

.btn-custom {
    padding: 6px;
}

.white-background {
    background-color: #fff;
    color: #444;
}

.page-wrapper {
    padding-bottom: 150px;
}

.blog {
    color: #777;
    p {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    pre code {
        overflow-x: scroll;
        white-space: pre;
    }
    pre {
        .hljs {
            background: transparent;
            }
        }
    a {
        -o-transition: .2s;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        transition: .2s;
      }
    a:hover {
        border-bottom: 1px dashed;
    }
    img {
        border-radius: 4px;
    }
}


#footer {
    color: #aaa;
    margin-top: 40px;
    margin-bottom: 20px;
}
#footer a {
    color: #fff;
}

.header {
    width: 100%;
    padding: 5px;
}


span.sub {
    font-size: 0.8em;
    font-style: italic;
    display: inline-block;
    line-height: 3.0em;
}

.docs-container {
    display: grid;
    grid-template-columns: 240px auto 1fr;
}

.docs-toc {
    background: @toc-background;
    width: 240px;
    padding: 20px;
    padding-top: 30px;
    color: @toc-color;
}
.docs-toc a {
    color: @toc-link-color;
}
.docs-toc a:hover {
    color: @toc-link-hover-color;
}
.toc-header {
    letter-spacing: 3px;
    background: @toc-header-background;
    color: @toc-header-color;
}
.docs-content {
    color: @content-color;
    background: @content-background;
    padding: 10px;
}
.docs-toc ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 10px;
}
.docs-toc li {
    padding-left: 15px;
    background-image: url("/img/bullet.png");
    background-position: 0 5px;
    background-repeat: no-repeat;
}
.readable { 
    max-width: 750px;
    line-height: 25px;
}
.readable h1 {
    font-size: 1.5em;
}
.readable h2 {
    font-size: 1.2em;
}

.readable table {

}
.readable th {
    padding: 5px;
    background: @th-background;
    color: @th-color;
    text-align: left;
    padding-right: 20px;
}
.readable td {
    padding: 5px;
    padding-right: 20px;
    background: @td-background;
    vertical-align: top;
}
.spacer {
    background: @toc-background;
}


#mc_embed_signup{clear:left; font:14px Arkhip,Helvetica,Arial,sans-serif; width:100%;}
