<div class="docs-toc">
    <ul>
      <li><a href='/docs/what-is-escape/'>What is Escape?</a></li>
      <li><a href='/downloads/'>Downloads</a></li>
    </ul>
    <div class='toc-header'>Getting started</div>
    <ul>
      <li><a href='/docs/escape-installation/'>Installation</a></li>
      <li><a href='/docs/quickstart-hello-world/'>Hello World! 👋</a></li>
      <li><a href='/docs/quickstart-configure-inventory/'>Configuring an Inventory</a></li>
      <li><a href='/docs/quickstart-building-a-package/'>Building a Package</a></li>
      <li><a href='/docs/quickstart-deploying/'>Deploying</a></li>
      <li><a href='/docs/quickstart-errands/'>Errands</a></li>
      <li><a href='/docs/quickstart-templates/'>Templates</a></li>
    </ul>
    <div class='toc-header'>Escape</div>
    <ul>
       <li><a href='/docs/escape-plan/'>The Escape Plan</a></li>
       <li>The Release Cycle</li>
       <li>Versioning</li>
       <li><a href='/docs/input-and-output-variables/'>Input and Output Variables</a></li>
       <li><a href='/docs/errands/'>Errands</a></li>
       <li><a href='/docs/dependencies/'>Dependencies</a></li>
       <li>Extensions</li>
       <li>State</li>
       <li><a href='/docs/providers-and-consumers/'>Providers and Consumers</a></li>
       <li><a href='/docs/templates/'>Templates</a></li>
       <li><a href='/docs/downloads/'>Downloads</a></li>
       <li><a href='/docs/escape/'>Command Line Reference</a></li>
        <li><a href='/docs/scripting-language/'>Escape Script</a></li>
    </ul>
    <div class='toc-header'>Escape Inventory</div>
    <ul>
      <li><a href='/docs/escape-inventory/'>Usage</a></li>
      <li>Installation</li>
    </ul>
</div>
