<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if .Params.Title }} 
  <title>Escape | {{ .Params.Title }}</title>
  {{ else }}
  <title>Escape - The Release Engineering and Continuous Delivery tool by Ankyra</title>
  {{ end }}
  <meta name="description" content="Ankyra is a London based company focused on products and services around Continuous Delivery on modern infrastructure.">
  <meta name="robots" content="all">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Ankyra">
  <meta property="og:description" content="Experts in Continuous Delivery on Modern Infrastructure">
  <meta property="og:url" content="https://ankyra.io/">
  <meta property="og:site_name" content="Ankyra">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="Experts in Continuous Delivery on Modern Infrastructure">
  <meta name="twitter:title" content="Ankyra">
  <meta name="twitter:domain" content="Ankyra">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
  <meta name="theme-color" content="#000">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/github-gist.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
