<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{ if .Params.Title }} 
  <title>Escape | {{ .Params.Title }}</title>
  <meta property="og:title" content="Escape | {{ .Params.Title }}">
  <meta property="twitter:title" content="Escape | {{ .Params.Title }}">
  {{ else }}
  <title>Escape - The Release Engineering and Continuous Delivery tool by Ankyra</title>
  <meta property="og:title" content="Escape - The Release Engineering and Continuous Delivery tool by Ankyra">
  <meta property="twitter:title" content="Escape - The Release Engineering and Continuous Delivery tool by Ankyra">
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if .Params.Description }}
  <meta name="description" content="{{ .Params.Description }}">
  <meta name="twitter:description" content="{{ .Params.Description}}">
  <meta property="og:description" content="{{ .Params.Description}}">
  {{ else }}
  <meta name="description" content="Escape is an open source release engineering tool that can be used to test, build, deploy, version and operate software.">
  <meta name="twitter:description" content="Escape is an open source release engineering tool that can be used to test, build, deploy, version and operate software.">
  <meta property="og:description" content="Escape is an open source release engineering tool that can be used to test, build, deploy, version and operate software.">
  {{ end }}
  {{ if .Params.Image }}
  <meta property="og:image" content="{{ .Site.BaseURL}}/{{ .Params.Image }}">
  <meta name="twitter:image" content="{{ .Site.BaseURL}}/{{ .Params.Image }}">
  {{ else }}
  <meta property="og:image" content="{{ .Site.BaseURL }}/img/docling_modern_stack.png">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}/img/docling_modern_stack.png">
  {{ end }}
  <meta name="robots" content="all">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:site_name" content="Ankyra">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:domain" content="Ankyra">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
  <meta name="theme-color" content="#000">
  <link href="/css/styles.css" rel="stylesheet">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
