<div id="hero">
    <div id="hero-banner" class="container-fluid">
        <div class="container text-center">
            <img alt="Escape" src="img/escape.png">
       </div>
        <div id="main-content" class="container text-center">
            <h1>Escape</h1>

            <ul class='main-menu'>
                <li><a href=''>Downloads</a></li>
                <li><a href=''>Getting started</a></li>
                <li><a href='/docs'>Documentation</a></li>
            </ul>
        </div>
        <br>
        <div id="footer" class="container text-center">
            <small>Copyright &copy; Ankyra Limited, 2017 | 71-75 Shelton Street, London WC2H 9JQ, United Kingdom | Company No. 10536747</small>
        </div>
    </div>
</div>
