<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img id="icon-nav" src="/img/logo_white.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{ range .Site.Menus.ankyra }}
            {{ if eq .Name "Follow us on Twitter" }} 
              <li><a href="{{ .URL }}" target="_blank" >{{ .Pre }}{{ .Name }}</a></li>
            {{ else }} 
              <li><a href="{{ .URL }}" >{{ .Pre }}{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
