{{ partial "head.html" . }}

{{ partial "top-nav.html" . }}

<div class="container-fluid white-background page-wrapper">

<div class="container page-header">
    <div class="col-md-8">
        <h1> <i class='fa fa-book' aria-hidden='true'></i>&nbsp;Docs</h1>
        <hr/>
        <h3><a href='quickstart/'>Quickstart</a></h3>
        <h3><a href='escape-client/'>Command Line Reference for Escape Client</a></h3>
        <h3><a href='escape-registry/'>Escape Registry Reference</a></h3>
        <h3><a href='scripting-language/'>Scripting Language Reference</a></h3>
        <h3><a href='scripting-language-stdlib/'>Scripting Language Standard Library Reference</a></h3>
    </div>
</div>    
</div>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}
