{{ partial "head.html" . }}

{{ partial "top-nav.html" . }}

<div class="white-background docs-container">

{{ partial "docs_toc.html" . }}


<div class='docs-content'>
    <h1> 
      <img style='max-height: 45px; margin-top: -15px;' src='/img/docling_head.png'/> 
      &nbsp;Escape</h1>
        
    <div class="page-content blog">
      <div class="readable">
        <p/>

        Escape is an Open Source release engineering toolkit that can be used
        to build, test, version, deploy and operate software across layers, 
        environments and clouds.  <a href='what-is-escape/'>Learn more.</a>
        <p/>

        <img src='/img/docling_with_packages.png'/>

        <p/>
        <span style='font-size:0.8em'>This is the documentation for Escape v{{.Site.Params.EscapeClientVersion }} and Escape Inventory v{{.Site.Params.EscapeInventoryVersion }}.</span>
      </div>
    </div>
</div>    
</div>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}
