{{ partial "head.html" . }}

{{ partial "top-nav.html" . }}

<div class="container-fluid white-background page-wrapper">

<div class="container page-header">
    <div class="col-md-8">
        <h1>Docs</h1>
        <h3><a href='escape-client/'>Command Line Reference for Escape Client</a></h3>
    </div>
</div>    
<div class="container blog">
    <div class="col-md-8">
        <ul class="list-unstyled">
        {{ range .Data.Pages }}
        {{ .Render "li" }}
        {{ end}}
        </ul>
     </div>   
</div>
</div>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}
